#Indique la configuration

[mysqld]
user = mysql

#Ou mettre la base de donnee (DB)

datadir = /var/lib/mysql

#Toute les Ip du reseau peuvent se connecter

bind_address=*

#Port de communication (Avec wordpress)

port = 3306

socket  = /run/mysqld/mysqld.sock